
{% extends "base.html" %}

{% block title %}
Контакты
{% endblock title%}
{% load static %}

{% block body %}
    <h3> Страница контакты</h3><br>
    <img width = "10%" src = "https://cdn-icons-png.flaticon.com/512/1250/1250855.png">

    <img width = "10%" src = "{% static 'contact.png' %}">

    <p><b>Имя: </b>{{NAME}}</p>
    <p><b>Номер: </b>{{NUMBER}}</p>
    <p><b>Время: </b>{{TIME}}</p>

    <p>email:<b><span class = "red">info@mysite.com</span></b></p>
    <p class = "red"><b>Главные редакторы: </b></p>
    <ul>
    {% for name in NAMES %}
        <li>{{name}}</li>
    {% endfor%}
    </ul>
    <hr>
    <br>
    <h2>Шаблонищатор Jinja2 и его теги</h2>
    <p> Переменная (python): {{AGE}}</p>
    <P>Дата: {% now "d.m.y. H.i.s." %}</P>
    <p>Условия: {%if AGE >= 18%} Взрослый {%else%} Молод {% endif %}</p>
    <p>Цикл: {% for i in lst %} {{ i }} {% empty %} Списка нет или он пуст! {% endfor %}</p>
    <p>Переменная (шаблона): {% with name="Дмитрий" number="+375(29)223-34-44" %} {{ name }} : {{ number }} {% endwith %}</p>
{% endblock body%}